a {
  color: #418fdd;
}

::selection {
  background-color: white;
  color: black;
}

th {
  text-align: right;
}

ul,
p {
  max-width: 55vw;
}

.no-bullets {
  list-style-type: none;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
